# Python & Django
pycache/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env/
*.env

# VSCode or PyCharm 설정
.vscode/
.idea/

# Static & Media
# static/
media/

# OS 관련
.DS_Store
Thumbs.db

# Docker
*.log


.env
skn24_first_key_pair.pem